@(apiUrl: String, accessToken: Option[String], project: String, configOverride: String)

@main("Metapipe") {
<div id="entrypoint"></div>
<script>
        new MetapipeWidget("", "").renderInto("entrypoint", "@project", `@configOverride`, "@apiUrl", "@accessToken.getOrElse("")", "", "");
</script>
}